.grid-stack {
    margin-top: 4rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.grid-stack-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: #000;
  background-color: $gray-10;
  border-radius: 4px;
  transition: all .4s;
  
  &:hover {
      background-color: $gray-30;
      cursor: pointer;
      transition: all .4s;
  }
}