.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw; 
    height: 100vh; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
    z-index: 10;
    color: #000;

    & > *:not(:first-child) {
        margin-top: 1.2rem;
    }
}

.collapsible {
    background-color: transparent;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.6rem;
    width: 16rem;
}

.active, .collapsible:hover {
    // TODO: Add styling for active
  }

  .content {
      background-color: transparent;
    // padding: 0 18px;
    display: none;
    overflow: hidden;

    & > * {
        margin-top: 1.2rem;
    }

    & > *:last-child {
        margin-bottom: 1.2rem;
    }
  }

  // On click
// Navigate to: "MacBook Pro 14" - 19";
// Animate: Smart animate;
// Spring: { mass: 1, stiffness: 100, damping: 15 };
