@import '_variables.scss';

.navbar {
    width: 100vw;
    height: 6rem;
    background-color: $gray-10;
    border-bottom: 1px solid $gray-20;
    display: flex;

    & > .logo {
        width: 18rem;
        border-right: 1px solid $gray-20;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-button {
        width: 18rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $gray-20;

        &:hover {
            background-color: $gray-30;
            cursor: pointer;
        }
        
        &.active {
            background-color: $gray-30;
            border-bottom: 2px solid $gray-40;
        }
    }
}

.hamburger-btn {
    border-left: 1px solid $gray-20;
}

.logo {
    width: 10rem;
}

// This element included, the following elements in DOM will be pushed to right
.push {
    margin-left: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.2);
    color: $gray-50;

    &-content {
        position: relative;
        background-color: $white;
        margin: 5% auto;
        padding: 8rem 8rem 2rem 8rem;
        width: 80%;
        height: 80%;
        overflow-y: auto;

        &-bottom {
            position: sticky;
            margin-bottom: 3.2rem;
        }

        &-schoolClass {
            display: block;
            font-weight: bold;
            margin-bottom: 3.2rem;

            &-students {
                font-weight: normal;
                margin: .8rem 0;

                &-actions {
                    display: none;

                    &-addButton {
                        margin-top: 1.6rem;
                        font-weight: normal;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                    
                    &-addStudent {
                        font-weight: normal;
                        width: 18rem;
                        height: 4.8rem;
                        background-color: $gray-10;
                        border: 1px solid $gray-20;
                        padding-left: 8px;
                        color: $gray-45;
                        margin-right: .4rem;
                        
                        &:focus {
                            outline: 1px solid $gray-40;
                        }
                    }

                    &-cancel {
                        text-decoration: underline;
                        cursor: pointer;
                        margin-right: 1.6rem;
                        margin-left: 3.2rem;
        
                        &:hover {
                            color: $gray-45;
                        }
                    }

                    &-submit {
                        width: 10rem;
                        height: 4.8rem;
                        background-color: $green-10;
                        border: 1px solid $green-20;
                        color: $green-30;
            
                        &:hover {
                            cursor: pointer;
                            background-color: $green-15;
                        }
                    }
                }

                &-row {
                    height: 3.2rem;
                    width: 20rem;
                    display: flex;
                    align-items: center;
                    padding-left: .8rem;

                    &:hover {
                        cursor: pointer;
                        background-color: $gray-30;
                    }
                }
            }
        }

        &-addClassButton {
            &:hover {
                cursor: pointer;
            }
        }

        &-actions {
            display: none; // Show when adding a class

            &-inputSchoolClassName {
                width: 18rem;
                height: 4.8rem;
                background-color: $gray-10;
                border: 1px solid $gray-20;
                padding-left: 8px;
                color: $gray-45;

                &:focus {
                    outline: 1px solid $gray-40;
                }
            }
    
            &-cancel {
                text-decoration: underline;
                cursor: pointer;
                margin-right: 1.6rem;
                margin-left: 3.2rem;

                &:hover {
                    color: $gray-45;
                }
            }
    
            &-submit {
                width: 10rem;
                height: 4.8rem;
                background-color: $green-10;
                border: 1px solid $green-20;
                color: $green-30;
    
                &:hover {
                    cursor: pointer;
                    background-color: $green-15;
                }
            }
        }
    }
}