@import '_variables.scss';

.navbar {
    width: 100vw;
    height: 6rem;
    background-color: $gray-10;
    border-bottom: 1px solid $gray-20;
    display: flex;

    & > .logo {
        width: 18rem;
        border-right: 1px solid $gray-20;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-button {
        width: 18rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $gray-20;

        &:hover {
            background-color: $gray-30;
            cursor: pointer;
        }
        
        &.active {
            background-color: $gray-30;
            border-bottom: 2px solid $gray-40;
        }
    }
}

.logo {
    width: 10rem;
}

.hamburger {
    
    &-container {
        width: 10rem;
        border-left: 1px solid $gray-20;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: $gray-30;
        }
    }

    &-btn {
        width: 32px;
        height: 5px;
        border-radius: 5px;
        background-color: $gray-50;
        transition: all .5s ease-in-out;

        &::before, &::after {
            content: '';
            position: absolute;
            width: 32px;
            height: 5px;
            border-radius: 5px;
            background-color: $gray-50;
            transition: all .5s ease-in-out;
        }

        &::before {
            transform: translateY(-8px);
        }
        
        &::after {
            transform: translateY(8px);
        }
    }
}

.hamburger-btn.hamburger-btn.open{
    transform: translateX(-50px);
    background-color: transparent;
}

.hamburger-btn.open.hamburger-btn::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.hamburger-btn.open.hamburger-btn::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

// This element included, the following elements in DOM will be pushed to right
.push {
    margin-left: auto;
}