$white: #fafafa;

$gray-10: #EEEEEE; // Standard background gray
$gray-20: #E1E1E1; // Strokes
$gray-30: #E9E9E9; // Hover
$gray-40: #CDCDCD; // Hover stroke
$gray-45: #676767; // Placeholder text
$gray-50: #424242; // Fonts and icons

$green-10: #D9FFED; // Background
$green-15: #C7FFE4; // Hover
$green-20: #5BFFB1; // Stroke
$green-30: #39B078; // Fonts and icons

$red-10: #F88B98; // Warning