.header
    .header-generate-button
        p.header-generate-button-text Generate
        img.header-generate-button-icon(src="icons/play.svg")
    .header-fullscreen-button
        img.header-fullscreen-button-icon(src="icons/expand-solid.svg")
    .header-randomize-button
        img.header-randomize-button-icon(src="icons/dices.svg")
        