.menu
    .menu-section.collapsible KLASS 7A
        .content
            p.menu-section-item Anna Johannson
            p.menu-section-item Anna Johannson
            p.menu-section-item Anna Johannson
            p.menu-section-item Anna Johannson
            p.menu-section-item Anna Johannson
            p.menu-section-item Anna Johannson