.menu
    button.menu-section.collapsible KLASS 7A
    .content
        p.menu-section-item Anna Johannson
        p.menu-section-item Anna Johannson
        p.menu-section-item Anna Johannson
        p.menu-section-item Anna Johannson
        p.menu-section-item Anna Johannson
        p.menu-section-item Anna Johannson
        input(type="text" placeholder="Förnamn" id="firstname")
        input(type="text" placeholder="Efternamn" id="lastname")
        button(onclick="addToClass()") Lägg till
