nav.navbar
  .navbar-menu-item
    img.navbar-hamburger-menu-icon(src='/icons/bars-solid.svg' alt='Menu icon')
  a.navbar-menu-link() KLASS 7A
  //- a.navbar-menu-link(href='/class/7a') KLASS 7A
  a.navbar-menu-link(href='/class/7b') KLASS 7B
  a.navbar-menu-link(href='/class/7c') KLASS 7C