.navbar
    .logo
        img.logo(src='icons/logo.svg' alt='Logo')
    button.navbar-button KLASS 7A
    button.navbar-button KLASS 7B
    button.navbar-button KLASS 7C
    .hamburger-btn.navbar-button.push
        img(src='icons/hamburger.svg' alt='Menu icon')
.modal
    .modal-content
        .modal-content-top
            .modal-content-schoolClass(data-schoolclass-id='4711') KLASS 7A
                .modal-content-schoolClass-students
                    .modal-content-schoolClass-students-row Frida
                    .modal-content-schoolClass-students-row Frida
                    .modal-content-schoolClass-students-row Frida
                    .modal-content-schoolClass-students-row Frida
                    button.modal-content-schoolClass-students-actions-addButton + Elev
                    .modal-content-schoolClass-students-actions
                        input.modal-content-schoolClass-students-actions-addStudent.inputFirstname(type='text' value='Förnamn')
                        input.modal-content-schoolClass-students-actions-addStudent.inputLastname(type='text' value='Efternamn')
                        button.modal-content-schoolClass-students-actions-cancel Avbryt 
                        button.modal-content-schoolClass-students-actions-submit Spara
        .modal-content-bottom
            button.modal-content-addClassButton + Lägg till klass
            .modal-content-actions
                input.modal-content-actions-inputSchoolClassName(type='text' value='Klassnamn')
                button.modal-content-actions-cancel Avbryt
                button.modal-content-actions-submit Spara