.navbar
    .logo
        img.logo(src='icons/logo.svg' alt='Logo')
    button.navbar-button KLASS 7A
    button.navbar-button KLASS 7B
    button.navbar-button KLASS 7C
    .hamburger-btn.navbar-button.push
        img(src='icons/hamburger.svg' alt='Menu icon')
.modal
    .modal-content
        .modal-content-top
        .modal-content-bottom
            button.modal-content-addClassButton + Lägg till klass
            .modal-content-actions
                input.modal-content-actions-inputSchoolClassName(type='text' value='Klassnamn')
                button.modal-content-actions-cancel Avbryt
                button.modal-content-actions-submit Spara