.navbar
    .logo
        img.logo(src='icons/logo.svg' alt='Logo')
    button.navbar-button KLASS 7A
    button.navbar-button KLASS 7B
    button.navbar-button KLASS 7C
    .hamburger-container.push
        btn.hamburger-btn