.navbar {
  width: 100vw;
  height: 7.6rem;
  background-color: #F7F7F7;
  border-bottom: 1px solid #e0e0e0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
}
.navbar > * {
  border-right: 1px solid #E1E1E1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6rem;
  transition: all 0.3s;
}
.navbar > *:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
  cursor: pointer;
}
.navbar-menu-item {
  display: flex;
  align-items: center;
  width: 19rem;
  height: inherit;
  display: flex;
  justify-content: center;
}
.navbar-hamburger-menu-icon {
  width: 32px;
  height: 32px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  all: unset;
}

.grid-stack {
  margin-top: 4rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.grid-stack-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2c3e50;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: all 0.4s;
}
.grid-stack-item-content:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.4s;
}
.grid-stack-item-content:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  z-index: 10;
  color: #000;
}
.menu > *:not(:first-child) {
  margin-top: 1.2rem;
}

.collapsible {
  background-color: transparent;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.6rem;
  width: 16rem;
}

.content {
  background-color: transparent;
  display: none;
  overflow: hidden;
}
.content > * {
  margin-top: 1.2rem;
}
.content > *:last-child {
  margin-bottom: 1.2rem;
}

.header {
  width: 100vw;
  height: 7rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.header > *:not(:first-child) {
  margin-left: 0.8rem;
}
.header-generate-button {
  width: 19rem;
  height: 4.8rem;
  background-color: #ECF2FF;
  border: 1px solid #CFDFFF;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-generate-button-text {
  color: #6470B1;
}
.header-generate-button-icon {
  width: 20px;
  height: 20px;
}
.header-generate-button:hover {
  background-color: #e3e8ff;
  transition: background-color 0.3;
  cursor: pointer;
}
.header-fullscreen-button {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #ECF2FF;
  border: 1px solid #CFDFFF;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-fullscreen-button-icon {
  width: 2.8rem;
  height: 2.8rem;
}
.header-fullscreen-button:hover {
  background-color: #e3e8ff;
  transition: background-color 0.3;
  cursor: pointer;
}
.header-randomize-button {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #ECF2FF;
  border: 1px solid #CFDFFF;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-randomize-button-icon {
  width: 2.8rem;
  height: 2.8rem;
}
.header-randomize-button:hover {
  background-color: #e3e8ff;
  transition: background-color 0.3;
  cursor: pointer;
}

body {
  background-color: #fafafa;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
