.navbar {
  width: 100vw;
  height: 6rem;
  background-color: #EEEEEE;
  border-bottom: 1px solid #E1E1E1;
  display: flex;
}
.navbar > .logo {
  width: 18rem;
  border-right: 1px solid #E1E1E1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-button {
  width: 18rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #E1E1E1;
}
.navbar-button:hover {
  background-color: #E9E9E9;
  cursor: pointer;
}
.navbar-button.active {
  background-color: #E9E9E9;
  border-bottom: 2px solid #CDCDCD;
}

.hamburger-btn {
  border-left: 1px solid #E1E1E1;
}

.logo {
  width: 10rem;
}

.push {
  margin-left: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  color: #424242;
}
.modal-content {
  position: relative;
  background-color: #fafafa;
  margin: 5% auto;
  padding: 8rem 8rem 2rem 8rem;
  width: 80%;
  height: 80%;
  overflow-y: auto;
}
.modal-content-bottom {
  position: sticky;
  margin-bottom: 3.2rem;
}
.modal-content-schoolClass {
  display: block;
  font-weight: bold;
  margin-bottom: 3.2rem;
}
.modal-content-schoolClass-students {
  font-weight: normal;
  margin: 0.8rem 0;
}
.modal-content-schoolClass-students-actions {
  display: none;
}
.modal-content-schoolClass-students-actions-addButton {
  margin-top: 1.6rem;
  font-weight: normal;
}
.modal-content-schoolClass-students-actions-addButton:hover {
  cursor: pointer;
}
.modal-content-schoolClass-students-actions-addStudent {
  font-weight: normal;
  width: 18rem;
  height: 4.8rem;
  background-color: #EEEEEE;
  border: 1px solid #E1E1E1;
  padding-left: 8px;
  color: #676767;
  margin-right: 0.4rem;
}
.modal-content-schoolClass-students-actions-addStudent:focus {
  outline: 1px solid #CDCDCD;
}
.modal-content-schoolClass-students-actions-cancel {
  text-decoration: underline;
  cursor: pointer;
  margin-right: 1.6rem;
  margin-left: 3.2rem;
}
.modal-content-schoolClass-students-actions-cancel:hover {
  color: #676767;
}
.modal-content-schoolClass-students-actions-submit {
  width: 10rem;
  height: 4.8rem;
  background-color: #D9FFED;
  border: 1px solid #5BFFB1;
  color: #39B078;
}
.modal-content-schoolClass-students-actions-submit:hover {
  cursor: pointer;
  background-color: #C7FFE4;
}
.modal-content-schoolClass-students-row {
  height: 3.2rem;
  width: 20rem;
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
}
.modal-content-schoolClass-students-row:hover {
  cursor: pointer;
  background-color: #E9E9E9;
}
.modal-content-addClassButton:hover {
  cursor: pointer;
}
.modal-content-actions {
  display: none;
}
.modal-content-actions-inputSchoolClassName {
  width: 18rem;
  height: 4.8rem;
  background-color: #EEEEEE;
  border: 1px solid #E1E1E1;
  padding-left: 8px;
  color: #676767;
}
.modal-content-actions-inputSchoolClassName:focus {
  outline: 1px solid #CDCDCD;
}
.modal-content-actions-cancel {
  text-decoration: underline;
  cursor: pointer;
  margin-right: 1.6rem;
  margin-left: 3.2rem;
}
.modal-content-actions-cancel:hover {
  color: #676767;
}
.modal-content-actions-submit {
  width: 10rem;
  height: 4.8rem;
  background-color: #D9FFED;
  border: 1px solid #5BFFB1;
  color: #39B078;
}
.modal-content-actions-submit:hover {
  cursor: pointer;
  background-color: #C7FFE4;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  all: unset;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

.grid-stack {
  margin-top: 4rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.grid-stack-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #EEEEEE;
  border-radius: 4px;
  transition: all 0.4s;
}
.grid-stack-item-content:hover {
  background-color: #E9E9E9;
  cursor: pointer;
  transition: all 0.4s;
}

body {
  background-color: #fafafa;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
